<!DOCTYPE html>
    <html>
      <head>
        <meta charset="UTF-8">
        <title>Camera</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="../static/img/logo_fr.jpg">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="../static/css/cam.css">
        <script src="../static/js/utils.js" defer></script>
        <script src="../static/js/quagga.min.js"></script>
      </head>
      <body>
        <h1>Camera</h1>
        <button class="camera" onclick="fetchVideoFeed()" alt="Camera">SCAN</button>
        <br>
        <div class="camera">
          <img id="video" src="/video_feed" width="90%">
        </div>
        <br>
        <button class="camera" onclick="window.location.href='/'">Back to Main</button>

        <script>
          
        </script>
      </body>
    </html>