<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="../static/img/logo_fr.jpg">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>CreateItem</title>
    <link rel="stylesheet" href="../static/css/createrecipe.css">
    <script src="../static/js/utils.js" defer></script>
  </head>
  <body>
    <div class="createrecipe">
      <form>
        <p class="title" name="name">Add Item</p>
        <div class="Item">
          <div class="group1">
            <p class="Text">Product Name</p>
            <input contenteditable="true" class="component" value="Bread" name="ProductBrand" autofocus required>
          </div>
        </div>
        <div class="Item">
          <div class="group1">
            <p class="Text">Added date</p>
            <input contenteditable="true" type="date" class="component" id="add_date_input" name="dateAdded">
          </div>
        </div>
        <div class="Item">
          <div class="group1">
            <p class="Text">Expiration Date</p>
            <input contenteditable="true" type="date" class="component" id="expire_date_input" name="dateExpire">
          </div>
        </div>
        <div class="Item">
          <div class="group1">
            <label class="Text" for="list-select">Where to Add:</label>
            <select class="component" id="list-select" name="list-select">
              <option value="FridgeListS">FridgeList</option>
              <option value="CounterItemS">CounterItem</option>
              <option value="PantryItemS">PantryItem</option>
              <option value="ShoppingListS">ShoppingList</option>
            </select>
          </div>
        </div>
      </form>
      <form class="just"></form>
      <div class="group1">
        <div class="group7">
          <button class="save" onclick="addItem()">Save</button>
          <button class="delete" onclick="window.location.href='./HomeScreen.html'" style=" border-width:2px">
            <img class="delete" src="../static/img/trash2D.png" style="border-width:2rem">
          </button>
          <button class="camera" onclick="window.location.href='./cam.html'">
            <img class="camera" style="background-color: transparent;" src="../static/img/barcode.png" alt="Camera">
          </button>
        </div>
        <button class="backtorecipe" onclick="window.location.href='/'">Back to Main</button>
      </div>
    </div>
  </body>
  <script>
    // Parse the query parameter from the URL
    const urlParams = new URLSearchParams(window.location.search);
    const product = urlParams.get('product');

    // Update the product name field if the query parameter is present
    if (product) {
      const productNameInput = document.querySelector('input[name="ProductBrand"]');
      productNameInput.value = product;
    }
    
    // make sure add, expire dates are not null
    var theAddDate = new Date().toISOString().substring(0, 10);
    document.getElementById('add_date_input').value = theAddDate;

    // add 7 days to the current date
    var theExpireDate = new Date();
    theExpireDate.setDate(new Date().getDate() + 7);
    theExpireDate = theExpireDate.toISOString().substring(0, 10);
    document.getElementById('expire_date_input').value = theExpireDate;
  </script>
</html>
