<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="../static/img/logo_fr.jpg">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>HomeScreen</title>
    <link rel="stylesheet" href="../static/css/homescreen.css">
    <link rel="stylesheet" href="../static/css/toggle.css">
    <script src="../static/js/utils.js" defer></script>
  </head>
  <body onload="populateData()">
    <label class="theme-switch" for="theme-checkbox">
      <input type="checkbox" id="theme-checkbox" onchange="toggleTheme()" />
      <span class="slider"></span>
    </label>
    <div class="homescreen">
      <div class="fridgelogo-container">
        <img class="fridgelogo" src="../static/img/logo.png" alt ="Logo">
      </div>
      <div class="group1">
        <button class="AddCam" onclick="window.location.href='./cam.html'">
          <img class="AddCam" style="background-color: transparent" src="../static/img/barcode.png" alt="Camera">
        </button>
        <button class="AddHave" onclick="window.location.href='./CreateRecipe.html'">Add</button>
        <button class="AddAll" onclick="window.location.href='./ViewRecipe.html?list=All'">View</button>

      </div>
      <button class="FridgeList" onclick="window.location.href='./ViewRecipe.html?list=FridgeListS'">Fridge</button>
      <div class="line1">
      </div>
      <div class="FridgeListS">
        <!-- append elements -->
      </div>  
      <button class="CounterItem" onclick="window.location.href='./ViewRecipe.html?list=CounterItemS'">Counter</button>
      <div class="line2">
      </div>
      <div class="CounterItemS">
        <!-- append elements -->
      </div>  
      <button class="PantryItem" onclick="window.location.href='./ViewRecipe.html?list=PantryItemS'">Pantry</button>
      <div class="line3">
      </div>
      <div class="PantryItemS">
        <!-- append elements -->
      </div>  
      <button class="ShoppingList" onclick="window.location.href='./ViewRecipe.html?list=ShoppingListS'">Shopping List</button>
      <div class="line4">
      </div>
      <div class="ShoppingListS">
        <!-- append elements -->
      </div>
    </div>
    <!-- <button  class="backtorecipe"  onclick="changeTheme('dark')">Dark Theme</button>
    <button  class="backtorecipe"  onclick="changeTheme('light')">Light Theme</button> -->
    
    <button class="backtorecipe" onclick="logout()">Logout</button>
  </body>
</html>
