<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="icon" href="../static/img/logo_fr.jpg">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/log.css">
  <link rel="stylesheet" href="../static/css/toggle.css">

  <script src="../static/js/login.js" defer></script>
</head>
<body>
    <label class="theme-switch" for="theme-checkbox">
        <input type="checkbox" id="theme-checkbox" onchange="toggleTheme()" />
        <span class="slider"></span>
      </label>
    <div class="fridgeheader">
        <img class="fridgelogo" src="../static/img/logo.png" alt = "Logo">
        <br>
        <button id="register_btn">Register</button>
        <button id="login_btn">Login</button>
    </div>
    <div id="register">
        <h2>Register</h2>
        <p>Create an account to access all features.</p>
        <form id="register_form" action="/register" method="POST">
            <label for="first_name">First Name:</label><br>
            <input type="text" name="first_name" id="first_name" required><br>
            <label for="last_name">Last Name:</label><br>
            <input type="text" name="last_name" id="last_name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" name="email" id="email_reg" required><br>
            <!-- <label for="user_reg">Username:</label><br>
            <input type="text" name="user_reg" id="user_reg" required><br> -->
            <label for="pass_reg">Password:</label><br>
            <input type="password" name="pwd" id="pwd" required><br><br>
            <input class="submit" type="submit" value="Register">
        </form><br>
        <button id="reg_to_log" onclick="toggleSignUp()">Already have an account? Login</button>
    </div>
    <div id="login">
        <form id="login_form" action="/login" method="POST">
            <h2>Login</h2>
            <p>Login to access the rest of the site.</p>
            <label for="email">Email:</label><br>
            <input type="text" name="email" id="email_log" required><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password" id="password" required><br><br>
            <input class="submit" type="submit" value="Login">
        </form><br>
        <button id="log_to_rec" onclick="toggleSignUp()">Don't have an account? Register</button>
    </div>
</body>
</html>
