<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="icon" href="../static/logo_fr.jpg">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <title>ViewRecipe</title>
  <link rel="stylesheet" href="../static/viewrecipe.css">
  <script src="../static/utils.js" defer></script>
</head>
<body>
<div class="viewrecipe">
  <form>
    <input class="tiltle" value="" name="name">
    <div class="item">
      <div class="group1">
        <p class="itemtext">Name</p>
        <input type="text" class="dateAdded" value="dateAdded" >
        <input type="text" class="dateAdded" value="expire date" >
        
      </div>
    </div>
    <div class="grocery-list" data-index="0">
      <!-- append elements here -->
    </div>
  </form>
  <form></form>
  <p id="demo"></p>
  <div class="group6">
    <button class="add" style="background-color: transparent; border-width:0rem" onclick="window.location.href='./CreateRecipe.html'">
      <img class="delete" style="background-color: transparent; border-width:0rem" src="../static/add.png"></button>
    <button class="deleteButton" style="background-color: transparent; border-width:0rem">
      <img class="delete" src="../static/delete.png"></button>
  </div>
  <button class="updateButton" >Update</button>
  <button class="backtorecipe" onclick="window.location.href='./HomeScreen.html'">Back to Main</button>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    populateViewData();
  });
</script>
</body>
</html>
