<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="icon" href="../static/img/logo_fr.jpg">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <title>ViewRecipe</title>
  <link rel="stylesheet" href="../static/css/viewrecipe.css">
  <link rel="stylesheet" href="../static/css/toggle.css">

  <script src="../static/js/utils.js" defer></script>
</head>
<body>
  <label class="theme-switch" for="theme-checkbox">
    <input type="checkbox" id="theme-checkbox" onchange="toggleTheme()" />
    <span class="slider"></span>
  </label>
  <span class="Text"> Toggle Theme </span>
<div class="viewrecipe">
  <form>
    <input class="tiltle" value="" name="name">
    <div class="item">
      <div class="group1">
        <p class="itemtext">Name</p>
        <input type="text" class="dateAdded" value="dateAdded" >
        <input type="text" class="dateAdded" value="expire date" >
        
      </div>
    </div>
    <div class="grocery-list" data-index="0">
      <!-- append elements here -->
      <!-- template form that items are added in -->
      <template id="item_template">
        <div class="item">
          <div class="group1">
            <input class="itemCheckbox" type="checkbox">
            <input class="inputBox" type="text">
            <input class="dateAdded" type="date">
            <input class="dateExpire" type="date">
          </div>
        </div>
      </template>
    </div>
  </form>
  <form></form>
  <p id="demo"></p>
  <div class="group6">
    <button class="add" style="background-color: transparent; border-width:0rem" onclick="window.location.href='./CreateRecipe.html'">
      <img class="delete" style="background-color: transparent; border-width:0rem" src="../static/img/add_dark.png"></button>
    <button class="deleteButton" style="background-color: transparent; border-width:0rem">
      <img class="delete" src="../static/img/trash_dark.png"></button>
  </div>
  <button class="updateButton" >Update</button><br>
  <button class="backtorecipe" onclick="window.location.href='/'">Back to Main</button>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    populateViewData();
  });
</script>
</body>
</html>
