:root {
    --fridge-dark: #37251b;
    --fridge-medium-dark: #80411e;
    --fridge-medium: #ad6e2f;
    --fridge-medium-light: #d49961;
    --fridge-light: #e4bc84;
    --fridge-milk: #faeadc;
  }
  
  html {
    background: var(--fridge-dark) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 62.5%;
  }
  
  * {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  input {
    border: none;
  }
  
  body {
    width: auto;
    height: auto;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background: var(--fridge-dark) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
  }
  
  h1 {
    color: var(--fridge-milk);
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
  }
  
  .camera {
    margin-bottom: 2rem;
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--fridge-milk);
    background-color: var(--fridge-medium);
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    width: 90%;
    height: auto; /* Add this line to adjust the height proportionally */
  }
 form{
  margin-bottom: 2rem;
 }
  #product-name {
    color: var(--fridge-milk);
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
  }
  @media screen and (max-width: 600px) {
    body {
      align-items: flex-start;
    }
    
}