:root {
    --fridge-dark: #37251b;
    --fridge-medium-dark: #80411e;
    --fridge-medium: #ad6e2f;
    --fridge-medium-light: #d49961;
    --fridge-light: #e4bc84;
    --fridge-milk: #faeadc;
  }
  
  html { 
    background: var(--fridge-dark) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 62.5%;
  }
.fridgeheader {
    text-align: center;
}

#register, #login {
    text-align: center;
    display: none;
    position: absolute;
    padding: 50px 150px;
}

#register text, 
#register label,
#register p,
#register h2,
#login text, 
#login label ,
#login p,
#login h2 {
    color: lightgrey;
}